<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="styles.css" />
        <script type="text/javascript" src="/homey.js" data-origin="settings"></script>
        <!-- Line below for development -->
        <!--script src="vue.js" data-origin="settings"></script>
        <!- - line below for production -->
        <script src="vue.min.js" data-origin="settings"></script>
        <!--  -->
        <script type="text/javascript" src="settings.js" data-origin="settings"></script>
    </head>
    <body>
        <div id="app" style="margin-left:15px;margin-right:20px;">
            <h1 data-i18n="settings.title">-Heimdall-</h1>
            <p data-i18n="settings.benefit"></p>

            <table width="100%">
                <tr>
                    <td id="tab1b" class="tab tab-active" onclick="showTab('tab1')" data-i18n="tab1.title">-Dashboard-</td>
                    <td id="tab2b" class="tab tab-inactive" onclick="showTab('tab2')" data-i18n="tab2.title">-Settings-</td>
                    <td id="tab3b" class="tab tab-inactive" onclick="showTab('tab3')" data-i18n="tab3.title">-Instructions-</td>
                    <td class="tab-unused">&nbsp;</td>
                </tr>
            </table>
            <div style="height:8px"></div>
            <div id="tab1">
                <fieldset class="listContainer">
                    <legend data-i18n="tab1.status.title">-Status-</legend>
                    <table>
                        <tr>
                            <td><button id="surveillanceModeFull" class="btn wide btn-inactive" data-i18n="tab1.status.smodeFull">-Full Surveillance mode-</button></td>
                            <td><button id="surveillanceModePartial" class="btn wide btn-inactive" data-i18n="tab1.status.smodePartial">-Partial Surveillance mode-</button></td>
                            <td>&nbsp;</td>
                            <td><button id="alarmMode" class="btn wide btn-inactive" data-i18n="tab1.status.alarm">-Alarm-</td>
                        </tr>
                    </table>
                </fieldset>
                
                <fieldset class="listContainer">
                    <legend data-i18n="tab1.history.title">-History-</legend>
                    <table width=100%>
                        <tr>
                            <td><input type="checkbox" id="show_refresh" onClick="show_log()" checked ><span data-i18n="tab1.history.autoRefresh">-Auto refresh (every 1 Sec)-</span></td>
                        </tr>
                    </table> 
                    <textarea id="logtextarea" style="margin: 0px; width: 98%; height: 700px;"></textarea>
                    <button id="clearHistory" class="left" onclick="clearHistory()" data-i18n="tab1.history.btnClearHistory">-Clear Log-</button>
                    <button id="downloadHistory" class="left" onclick="downloadHistory()"  data-i18n="tab1.history.btnDownload">-Download-</button>
                </fieldset>
            </div>
            <div id="tab2" style="display:none">
                <fieldset class="listContainer">
                    <legend data-i18n="tab2.settings.title">-Settings-</legend>
                    <table width="80%">
                        <tr>
                            <td width="35%" class="rTableCell">
                                <span data-i18n="tab2.settings.tDelay">-Trigger delay:-</span>&nbsp;
                                <input id="triggerDelay" type="text" value="31" class="narrow">&nbsp;                            
                                <span data-i18n="tab2.settings.seconds">-Seconds-</span>&nbsp;
                                <button id="saveTriggerDelay" onclick="changeTriggerDelay()" data-i18n="tab2.settings.save">-Save-</button>
                            </td>
                            <td width="2%"></td>
                            <td width="35%" class="rTableCell">
                                <input id="logArmedOnly" type="checkbox" onclick="changeLogArmedOnly()">
                                <span data-i18n="tab2.settings.logarmedonly">-Only log when a Surveillance mode is active-</span></td>
                            <td width="2%"></td>
                            <td width="35%" class="rTableCell">
                                <input id="logTrueOnly" type="checkbox" onclick="changeLogTrueOnly()">
                                <span data-i18n="tab2.settings.logtrueonly">-Do not log deactivating of sensors-</span></td>
                        </tr>
                        <tr>
                            <td>
                                <input id="delayArming" type="checkbox" onclick="changeDelayArming()">
                                <span data-i18n="tab2.settings.delayarming">-Use delay also when enabling a Surveillance mode-</td></span>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="rTableCell"></td>
                            <td></td>
                            <td class="rTableCell"></td>
                            <td></td>
                            <td class="rTableCell"></td>
                        </tr>
                     </table>

                    <div class="rTable">
                        <div class="rTableRow">
                            <div class="rTableCell rTableHead" data-i18n="tab2.settings.zone">-Zone-</div>
                            <div class="rTableCell rTableHead"></div>
                            <div class="rTableCell rTableHead" data-i18n="tab2.settings.device">-Device-</div>
                            <div class="rTableCell rTableHead" data-i18n="tab2.settings.monitor">-Monitor-</div>
                            <div class="rTableCell rTableHead" data-i18n="tab2.settings.dTrigger">-Delayed Trigger-</div>
                            <div class="rTableCell rTableHead rTableCellLast"></div>
                        </div>
                    
                        <div class="rTableRow" v-for="device in filteredItems" v-if="device.capabilities.alarm_motion || device.capabilities.alarm_contact">
                            <div class="rTableCell">{{device.zone.name}}</div>
                            <div class="rTableCell" align=center>
                                <img :src="device.icon" style="height:30px;width:auto;"/>
                            </div>
                            <div class="rTableCell">
                                {{device.name}}
                            </div>
                            <div class="rTableCell">
                                <a v-if="!isLogged(device)" @click="addLog(device)" class="btn narrow btn-inactive" style="margin:5px;" data-i18n="tab2.settings.log">-Log-</a>
                                <a v-if="isLogged(device)" @click="removeLog(device)" class="btn narrow btn-active" style="margin:5px;" data-i18n="tab2.settings.log">-Log-</a>
                                
                                <a v-if="!isMonitoredFull(device)" @click="addMonitorFull(device)" class="btn middle btn-inactive" style="margin:5px;" data-i18n="tab2.settings.full">-Full-</a>
                                <a v-if="isMonitoredFull(device)" @click="removeMonitorFull(device)" class="btn middle btn-active" style="margin:5px;" data-i18n="tab2.settings.full">-Full-</a>
                                <a v-if="!isMonitoredPartial(device)" @click="addMonitorPartial(device)" class="btn middle btn-inactive" style="margin:5px;" data-i18n="tab2.settings.partial">-Partial-</a>
                                <a v-if="isMonitoredPartial(device)" @click="removeMonitorPartial(device)" class="btn middle btn-active" style="margin:5px;" data-i18n="tab2.settings.partial">-Partial-</a>
                            </div>
                            <div class="rTableCell">
                                <a v-if="!isDelayed(device)" @click="addDelay(device)" class="btn narrow btn-inactive" style="margin:5px;" data-i18n="tab2.settings.no">-No-</a>
                                <a v-if="isDelayed(device)" @click="removeDelay(device)" class="btn narrow btn-active" style="margin:5px;" data-i18n="tab2.settings.yes">-Yes-</a>
                            </div>
                            
                            <div class=rTableCell></div>
                        </div>
                    </div>


                </fieldset>
            </div>
            <div id="tab3" style="display:none">
                <fieldset class="listContainer">
                    <legend data-i18n="tab3.instructions.title">-Instructions-</legend>
                    <div id="instructionsen" style="display:none">
                        To configure Heimdall you have to do the following:<br />
                        <br />
                        <ul>
                            <li><b>Create a Surveillance Mode button</b></li>
                            <ul><li>
                                Click on the <i>add a device</i> icon in your desired zone and select the <i>Mode</i> device from the Heimdall app.<br>
                                You can rename the device, clicking on <i>next</i> will add it to Homey. 
                            </li></ul>
                            <li><b>Select the device(s) you want to monitor</b></li>
                            <ul><li>
                                Go to the settings page and click on the <i>log</i> button if you just want a line in the log when the device state changes.
                                Click on the <i>Full</i> button if you want the device included when the Surveillance mode is set to <i>Armed</i>
                                If you want the device included when the Surveillance mode is set to <i>Partially Armed</i> click the <i>Partial</i> button.
                                It is possible to select both <i>Full</i> and <i>Partial</i> for one device.
                                If you want to have a delay between the triggering of a device and activating the alarm you can 
                                enable a delay by clicking on the <i>no</i> button in the Delayed Trigger column.<br />
                                The delay that is used can be found on the top of the settings page, it is in seconds and ranges from 0-120 seconds.<br />
                            </li></ul>
                            <li><b>Create a flow to enable the Surveillance Mode</li>
                            <ul><li>
                                Heimdall will listen to the selected sensors and will log state changes, depending on the selected options on the settings page. 
                                Only when Heimdall is in Surveillance Mode a trigger on a sensor will lead to an alarm.
                                Go to the Homey Flow page and create a flow to enable the Surveillance Mode by using the <i>Set state</i> 
                                card from the Surveillance Mode button and selecting the desired state in the <i>...then</i> column.
                            </li></ul>
                            <li><b>Create a flow to disable the Surveillance Mode</b></li>
                            <ul><li>
                                To be able to disable the Surveillance Mode with a flow you have to create one and use the <i>Set state</i> 
                                card from the Surveillance Mode button and selecting the <i>Disarmed</i> state in the <i>...then</i> column.
                            </li></ul>
                            <li><b>Create a flow to act on an alarm</b></li>
                            <ul><li>
                                You can decide for yourself what you want Homey to do when the alarm is activated. 
                                Create a flow and use the <i>The alarm is activated.</i> card in the <i>when...</i> column and select your desired actions in the <i>then...</i> column.<br />
                                You can use the tag <i>Reason</i> on the trigger card to inform you which device activated the alarm.
                            </li></ul>
                            <li><b>Create a flow to disable the alarm</b></li>
                            <ul><li>
                                To deactivate the alarm use the <i>Deactivate Alarm</i> card in a flow in the <i>...then</i> column.
                            </li></ul>
                            <li><b>Add an Alarm Off Button</b></li>
                            <ul><li>
                                To deactivate the alarm using the Homey app on your phone you need to add the <i>Alarm</i> button device in the zone you desire.
                            </li></ul>
                            <li><b>Log other information</b></li>
                            <ul><li>
                                If you like to log more information, for example presence information, 
                                you can use the <i>Send information to Heimdall</i> card in a flow in the <i>...then</i> column.
                            </li></ul>
                        </ul>
                    </div>
                    <div id="instructionsnl" style="display:none">
                        Stel Heimdall op de volgende manier in:<br />
                        <br />
                        <ul>
                            <li><b>Voeg de Surveillance Mode knop toe</b></li>
                            <ul><li>
                                Klik op het <i>voeg een apparaat toe</i> icoon in de gewenste zone en selecteer het <i>Modus</i> apparaat van de Heimdall app.<br>
                                Je kan het apparaat een andere naam geven, als je op <i>volgend</i> klikt wordt het apparaat toegevoegd aan Homey. 
                            </li></ul>
                            <li><b>Selecteer de apparaten die je wilt controleren</b></li>
                            <ul><li>
                                Ga naar de instellingen pagina en klik op de <i>Log</i> knop als je alleen een regel in de geschiedenis wil als de status van een
                                sensor veranderd. Klik op de <i>Volledig</i> knop als je de sensor toe wilt voegen aan de <i>Ingeschakeld</i> Toezicht Mode.
                                Als je de sensor op wil nemen in de <i>Gedeeltelijke</i> Toezicht Mode klik dan op de <i>Gedeeltelijk</i> knop.
                                Het is mogelijk om zowel <i>Volledig</i> als <i>Gedeeltelijk</i> te selecteren voor 1 sensor.
                                Als je een vertraging wilt hebben tussen het afgaan van een sensor en het inschakelen van het alarm klik dan op de <i>Vertraagde trigger</i> knop.
                                De gewenste vertraging kan je op de instellingen pagina instellen van 0-120 seconden.<br />
                            </li></ul>
                            <li><b>Maak flows om een Toezicht Mode in te stellen</li>
                            <ul><li>
                                Heimdall zal naar de geselecteerde sensoren luisteren en afhankelijk van de instellingen op de instellingen pagina dit in de geschiedenis wegschrijven.
                                Als er een Toezicht Mode ingeschakeld is zal een activeren van een sensor tot het activeren van het alarm leiden.
                                Ga naar de Homey flow pagina en maak een flow waarin je de <i>Set state</i> kaart van de Toezicht Mode knop gebruikt om de gewenste mode te activeren.
                            </li></ul>
                            <li><b>Maak een flow om de Toezicht Mode uit te schakelen</b></li>
                            <ul><li>
                                Om de Toezicht Mode uit te schakelen kan er naar de Toezicht Mode knop gebruik gemaakt worden van een flow. Selecteer de <i>Set state</i> kaart 
                                van de Toezicht Mode Knop, plaats deze in de <i>...dan</i> kolom en selecteer <i>Gedeactiveerd</i>
                            </li></ul>
                            <li><b>Maak een flow met acties als het alarm geactiveerd wordt</b></li>
                            <ul><li>
                                Je kan zelf kiezen wat Homey moet doen als het alarm geactiveerd wordt.
                                Maak een flow en gebruik de <i>Het alarm is geactiveerd</i> kaart in de <i>als...</i> kolom en selecteer de gewenste acties in de <i>...dan</i> kolom.
                                Je kan de tag <i>reden</i> van de kaart gebruiken om te informeren welke sensor het alarm activeerde.
                            </li></ul>
                            <li><b>Maak een flow om het alarm uit te schakelen</b></li>
                            <ul><li>
                                Gebruik de <i>Deactiveer Alarm</i> kaart in een flow in de <i>...dan</i> kolom.
                            </li></ul>
                            <li><b>Voeg een Alarm Uit Knop toe</b></li>
                            <ul><li>
                                Om het alarm uit te kunnen zetten in de Homey telefoon app moet je het <i>Alarm</i> apparaat in de gewenste zone toevoegen.
                            </li></ul>
                            <li><b>Log andere informatie</b></li>
                            <ul><li>
                                Als je meer informatie in de geschiedenis van Heimdall wilt loggen zoals bijvoorbeeld aanwezigheid gebruik dan de <i>Stuur informatie</i> kaart 
                                in de <i>...dan</i> kolom met de gewenste informatie.
                            </li></ul>
                        </ul>
                    </div>
                </fieldset>
            </div>
            <div id="hidden" style="display:none">
                <span id="spanSurvActivated" data-i18n="hidden.surveillance.activated"></span>
                <span id="spanSurvDeactivated" data-i18n="hidden.surveillance.deactivated"></span>
                <span id="spanSecondsFail" data-i18n="hidden.settings.secondsFail"></span>
                <span id="spanSaveSucces" data-i18n="hidden.settings.saveSucces"></span>
            </div>
        </div>
    </body>
</html>