:root {
    --h-background-color: #f7f7f7;
    --h-body-color: #333333;
    --h-header-color: #85858a;
    --h-item-divider-color: #f7f7f7;
    --h-description-color: var(--h-header-color);
    --h-settings-header-size: 0.8em;
    --h-settings-item-color: #333333;
    --h-settings-item-arrow-color: #85858a;
    --h-settings-item-background-color: #ffffff;
    --h-settings-description-size: var(--h-settings-header-size);
}

html {
    all: initial;
}

body {
    font-family: "-apple-system", "SF Pro", "Helvetica Neue" !important;
    background-color: var(--h-background-color);
    color: var(--h-body-color);
    padding: 0.25em 0.5em;
    margin: 0; 
}

.loader {
    width: 100%;
}

.panel {
    background-color: var(--h-background-color);
}

.subPanel {
    background-color: var(--h-background-color);
}

.text-header {
    color: var(--h-header-color);
    margin-bottom: 0.5em;
    text-transform: uppercase;
    font-size: 0.7em;
    font-size: var(--h-settings-header-size);
}

.text-description {
    color: var(--h-description-color);
    margin-top: 0.3em;
    font-size: var(--h-settings-description-size);
    line-height: 1.5em;
}

.settings-top {
    height: 8px;
    background-color: rgb(255,255,255);
    border-style: solid;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-color: rgb(243,243,243);
}

.settings-spacer {
    height: 10 px;
    display: inline-block;
}

.settings-itemgroup {
    background-color: var(--h-settings-item-background-color);
    display: table;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 0.5em;
}

.settings-item {
    display: table-row;
}

.settings-item-image {
    display: table-cell;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.settings-item-text {
    display: table-cell;
    padding-left: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 14px;
    color: var(--h-settings-item-color);
}

.settings-item-arrow {
    display: table-cell;
    vertical-align: middle;
    padding-right: 20px;
}

i.arrow {
    flex-basis: content;
    align-self: flex-end;
    width: 9px;
    height: 14px;
    background: url(images/greater-than.svg) no-repeat 0 50%;
}

.settings-item-last {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    text-align: right;
    color: rgb(243,243,243);
    padding-right: 10px;
    font-size: 17px;
}

.settings-item-divider {
    display: table-cell;
    margin-left: 75px;
    border-style: solid;
    border-top-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-color: var(--h-item-divider-color);
}

.settings-item-button {
    display: table-cell;
    padding-left: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 14px;
    color: rgb(0,122,255)
}

.settings-item-input {
    display: table-cell;
    padding-right: 18px;
    padding-top: 9px;
    padding-bottom: 9px;
    vertical-align: middle;
    text-align: right;
    white-space: nowrap;
    font-size: 13px;
}

.settings-item-input input {
    width:25%;
    margin-right: 5px;
    border: 0;
    border-radius: 0;
    font-size: 16px;
    text-align: right;
    border-bottom: 1px solid rgb(75, 215, 98);
    padding: 3px 0 3px 0;
}

.users-pin-input {
    display: table-cell;
    padding-right: 10px;
    padding-top: 9px;
    padding-bottom: 9px;
    vertical-align: middle;
    text-align: right;
    white-space: nowrap;
    font-family: -apple-system;
    font-size: 13px;
}

.users-pin-input input {
    width:33%;
    margin-right: 22px;
    border: 0;
    border-radius: 0;
    font-size: 16px;
    text-align: right;
    border-bottom: 1px solid rgb(75, 215, 98);
    padding: 3px 0 3px 0;
}

.users-input {
    display: table-cell;
    padding-right: 10px;
    padding-top: 9px;
    padding-bottom: 9px;
    vertical-align: middle;
    text-align: right;
    white-space: nowrap;
    font-family: -apple-system;
    font-size: 13px;
}

.user-checkbox {
    text-align: right; 
    margin-right: 18px; 
    padding-top: 11px;
}

.users-input input {
    width:90%;
    margin-right: 22px;
    border: 0;
    border-radius: 0;
    font-size: 16px;
    text-align: right;
    border-bottom: 1px solid rgb(75, 215, 98);
    padding: 3px 0 3px 0;
}

.users-validating-text {
    background-color: rgb(255,255,255);
    padding-left: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
    vertical-align: middle;
    white-space: nowrap;
    font-family: -apple-system;
    font-size: 14px;
    text-align: center;
}

.users-user-add {
    display: table-cell;
    padding-left: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
    vertical-align: middle;
    white-space: nowrap;
    font-family: -apple-system;
    font-size: 14px;
    color: rgb(0,100,255);
}

.instructions {
    display: table;
    background-color: rgb(255,255,255);
    padding-top: 13px;
    padding-bottom: 13px;
    border-style: solid;
    border-top-width: 1px;
    border-left-style: none;
    border-right-style: none;
    border-bottom-width: 1px;
    border-color: rgb(243,243,243);
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

a:active {
    color: black;
    text-decoration: none;
}

.btn {
    display: inline-block;
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 4px;
}

.wide {
    width: 160px;
}

.middle {
    width: 65px;
    margin-right: 3px;
}

.narrow {
    width: 40px;
    margin-right: 3px;
}

.btn-active {
    color: rgb(0, 0, 0);
    background-color: rgb(75, 215, 98);
    border-color: rgb(76, 174, 76);
}

.btn-semiactive {
    color: rgb(0, 0, 0);
    background-color: rgb(167, 211, 167);
    border-color: rgb(157, 218, 157);
}

.btn-inactive {
    color: rgb(0, 0, 0);
    background-color: rgb(220, 220 , 220);
    border-color: rgb(200, 200, 200);
}

.btn-disable {
    color: rgb(220, 220, 220);
    background-color: rgb(240, 240 , 240);
    border-color: rgb(220, 220, 220);
}

.icon-cell {
    width: 30px;
    display: table-cell-block !important;
    vertical-align: middle;
}

.icon-cell > * {
    margin: auto;
    display: block;
}

.icon-device {
    width:auto;
    height:auto;
    max-width:30px;
    max-height:30px;
}

.icon-capability {
    margin-top: 13px;
    vertical-align: -webkit-baseline-middle;
    width:auto;
    height:auto;
    max-width:38px;
    max-height:40px;
}

.icon-capability-tamper {
    margin-top: 13px;
    vertical-align: -webkit-baseline-middle;
    width:auto;
    height:auto;
    max-width:30px;
    max-height:40px;
}

.icon-instructions {
    margin-top: 2px;
    width:auto;
    height:auto;
    max-width:35px;
    max-height:35px;
}

.active {
    filter: invert(.1) sepia(1) saturate(100) brightness(80%) !important;
}

.tab {
    display: table-cell;   	
    font-size: 4vw;
    padding: 7px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    width: 25%;
    height: 100%;
    border-bottom: 2px solid rgb(75, 215, 98);
    background-color: rgb(255,255,255);
}

.tab-active {
    color: rgb(0, 0, 0);
    border-bottom: 2px solid rgb(75, 215, 98);
    font-weight: bold;
}

.tab-inactive {
    color: rgb(0, 0, 0);
    border-bottom: 2px solid rgb(255,255,255);
    font-weight: normal;
}

.tab-unused {
    border-bottom: 1px solid rgb(200,200,200);   
}

.subTab {
    display: table-cell;   	
    font-size: 4vw;
    padding: 7px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    width: 50%;
    height: 100%;
}

.rTable {   	
    display: table;   	
    width: 100%;
}

.rTableRow {   	
    display: table-row; 
    margin: 0;
    border-top: 1px solid rgb(243,243,243);
    border-left: 1px solid rgb(243,243,243);
    border-right: 1px solid rgb(243,243,243);      
} 

.rTableCell {   	
    display: table-cell;   	
    padding: 6px;
    vertical-align: top;
    white-space: nowrap;
}

.line{
    border-top: 1px solid rgb(243,243,243);
}

.rTableHead {
    background: rgb(255,255,255);
    font-weight: bold;
}

.Overflow {
    margin-bottom: 1em;
    overflow: auto;
    position: relative;
    overflow-x: auto;
}

.historyheight {
    max-height: 439px;
}

/*.devicesheight {
    max-height: 511px;
}*/

.mal {
    background-color: rgb(255, 230, 230);
}

.mad {
    background-color: rgb(250, 215, 215);
}

.mdl {
    background-color: rgb(255, 255, 255);
}

.mdd {
    background-color: rgb(250, 250, 250);
}

.mpl {
    background-color: rgb(255, 240, 240);
}

.mpd {
    background-color: rgb(250, 225, 225);
}

.al {
    background-color: rgb(250, 96, 96);
}

.ad {
    background-color: rgb(255, 140, 140);
}

.ao {
    background-color: rgb(140, 255, 140);
}

.aa {
    background-color: rgb(255, 190, 190);
}

.sa {
    background-color: rgb(255, 190, 190);
}

.st {
    background-color: rgb(255, 210, 210);
}

.sd {
    background-color: rgb(190, 255, 190);
}

.lh {
    background-color: rgb(198, 237, 255);  
}

.ll {
    background-color: rgb(227, 246, 255);
}

.ld {
    background-color: rgb(215, 242, 255);
}

.component-battery {
    position: absolute;
    z-index: 1;
    width: 23.1px;
    height: 13.2px;
    line-height: 13.2px;
    font-size: 7px;
    color: rgba(255,255,255,1);
    text-shadow: 0 1px 1px rgba(0,0,0,0.1);
    text-align: center;
    margin-top: 14px;
    margin-left: 3px;
    transform:scale(1.5);
}

.component-battery, .component-battery:after {
    border: 1px solid white;
    box-shadow: inset 0 -4vw 4vw rgba(0,0,0,0.1);
    border-radius: 2.5px;
    box-sizing: border-box;
    transition: all .3s;
}

.component-battery:after {
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    top: 2px;
    bottom: 2px;
    left: 100%;
    width: 3px;
    border-radius: 2.5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0
}

.component-battery.charge-100,.component-battery.charge-100:after  {
    background: #00c900
}

.component-battery.charge-80,.component-battery.charge-80:after {
    background: #51c900
}

.component-battery.charge-60, .component-battery.charge-60:after {
    background: #a1c900
}

.component-battery.charge-40, .component-battery.charge-40:after {
    background: #c9a100
}

.component-battery.charge-20, .component-battery.charge-20:after {
    background: #c95100
}

.component-battery.charge-0, .component-battery.charge-0:after {
    background: #ca0000
}

/* https://www.cssscript.com/demo/realistic-ios-switch-pure-css/ */
.form-switch {
    display: inline-block;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.form-switch i {
    position: relative;
    display: inline-block;
    margin-right: .5rem;
    width: 46px;
    height: 26px;
    background-color: #e6e6e6;
    border-radius: 23px;
    vertical-align: text-bottom;
    transition: all 0.3s linear;
}

.form-switch i::before {
    content: "";
    position: absolute;
    left: 0;
    width: 42px;
    height: 22px;
    background-color: #fff;
    border-radius: 11px;
    transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
    transition: all 0.25s linear;
}

.form-switch i::after {
    content: "";
    position: absolute;
    left: 0;
    width: 22px;
    height: 22px;
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
    transform: translate3d(2px, 2px, 0);
    transition: all 0.2s ease-in-out;
}

.form-switch:active i::after {
    width: 28px;
    transform: translate3d(2px, 2px, 0);
}

.form-switch:active input:checked + i::after { transform: translate3d(16px, 2px, 0); }

.form-switch input { display: none; }

.form-switch input:checked + i { background-color: rgb(75, 215, 98); }

.form-switch input:checked + i::before { transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); }

.form-switch input:checked + i::after { transform: translate3d(22px, 2px, 0); }